<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIBS CUSTOM</title>
</head>
<body>
    <h1>MADLIBS</h1>
    <form action="/story">
        Place: <input type="text" name="place" placeholder="place">
        Noun: <input type="text" name="Noun" placeholder="Noun">
        Verb: <input type="text" name="Verb" placeholder="Verb">
        adjective: <input type="text" name="adjective" placeholder="adjective">
        Plural_noun: <input type="text" name="Plural_noun" placeholder="Plural_noun">
        <button name="submit">SUBMIT</button>
    </form>
</body>
</html>